*{

}

body {
  background-color:#F1F0FF;
}

h1 {
background-color: #C3C3E5;
text-transform: bold;
text-align: center;
border-bottom: black;
}

img {
  align-items: self-end;
}

ul {

}

li {

}

p {
  
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  
}

#text p:first-child {
  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {

}

@media all and (max-width: 500px) {

}
