body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("images index/fondo.jpg"); 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;             
    background-position: top center;        
    background-attachment: fixed;       
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-left-width: 10px;
    border-left-style:solid;
    border-left-color:black
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;                 
    flex-wrap: wrap; 
}

img {   
    margin: 0;
    border-radius:25px;
    border:10px red solid;
    box-shadow:10px 5px 5px green
}

table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
}

    img, table {
    width: 100%;
    max-width: 700px;  
    height: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    color: white;
}

th:nth-child(1) { background-color: red; }
th:nth-child(2) { background-color: green; }

td:nth-child(1) { font-weight: bold; }

td[bgcolor] { color: black; }
