body {

    margin: 0;
    font-family: Roboto Condensed;

    background-image: url("p4/images/fondo.jpg"); 
    background-repeat:no-repeat;
    background-size: cover;             
    background-position: top center;        
    background-attachment: fixed; 

    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;

    background-color: #d3d3d3;        
    color: white;
    font-size: 2em;

    border-left: 10px solid red;

}

img {
    display: block;
    margin: 40px auto;

    border-radius: 25px;
    border: 10px solid black;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);

}

ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;    
    display: flex;
    gap: 10px;
    justify-content: center;
}

li {
 display: inline-block;
}

li a {
    
    font-family: Roboto Condensed;

    display: inline-block;
    text-decoration: none;

    font-size: 15px;
    font-weight: normal;

    padding: 3px 8px;
    border: 1px solid black;
    color: #0033cc;

    border-radius: 3px;
}

