body {

    align-items: center;
    align-content: center;

    font-family: Arial, sans-serif;

    background-image: url("p4/images/fondo.jpg"); 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;             
    background-position: top center;        
    background-attachment: fixed; 

}

h1 {
    text-align: center;
    background-color: gainsboro;
    color: white;
    border-left-width: 10px;
    border-left-style:solid;
    border-left-color:red

}

img {
    justify-content: center;
    margin: 0;
    border-radius:25px;
    border:10px black solid;

}

ul {

}

li {

}

